.formborder{
    /* border: 1px solid black; */
    border-radius: 4px;
    box-shadow: 0px 0px 5px black;
    position: fixed;
    width: 58vh;
    height: 77vh;
    margin-top: 3.5em;
}
.custom-focus-border .form-control:focus {
    border-color: #000000; 
    box-shadow: none; 
}

button{
    border: 1px solid black;

}
button:hover{
    background-color: rgb(242, 177, 12);
}